 /*Modal */

 #myModal {
   display: none;
   position: fixed;
   left: 0;
   width: 100%;
   height: 100%;
   top: 0;
   z-index: 99;
   background-color: #03030393;
 }

 /* Modal Content */

 .modal-content {
   position: relative;
   background-color: #fefefe;
   margin: 18% auto;
   padding: 0;
   border-radius: 5px;
   width: 40%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   animation-name: animatetop;
   animation-duration: 0.4s
 }

 /* Modal Header */

 .modal-header {
   padding: 2px 16px;
   color: white;
   border-radius: 5px 5px 0 0;
   text-align: center;
 }

 /* Modal Body */

 .modal-body {
   margin-bottom: 10px;
   display: inline-block;
   width: 100%;
   text-align: center;
 }

 .modal-body img {
   width: 20%;
   height: 20%;
 }

 .modal-body p{
   color: rgb(44, 38, 38);
   font-weight: 500;
 }

 /* Modal Footer */

 .modal-footer {
   padding: 2px 16px;
   background-color: #b91d73;
   background: -webkit-linear-gradient(to right, #f953c6, #b91d73);
   background: linear-gradient(to right, #f953c6, #b91d73);
   border-radius: 0 0 5px 5px;
   color: white;
   text-align: center;
   cursor: pointer;
 }

 .modal-footer:hover{
   background-color: #4481eb;
   background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
 }

 /* The Close Button */

 #modal-close {
   color: #b91d73;
   float: right;
   font-size: 30px;
   font-weight: bold;
 }

 #modal-close:hover, #modal-close:focus {
   color: #4481eb;
   text-decoration: none;
   cursor: pointer;
 }

 /* Add Animation */

 @keyframes animatetop {
   from {
     top: -300px;
     opacity: 0
   }
   to {
     top: 0px;
     opacity: 1
   }
 }

 @media (max-width: 870px) {
    .modal-content{
      width: 70%;
    }
 }